.login1{
    margin-left: 40px;
    margin-right: 800px;
    text-align: left;
    padding-top: 40px;
}

.login2{
    padding-top: 40px;
    text-align: left;
}

.home1{
    margin-left: 40px;
    text-align: left;
    padding-top: 40px;
}

.home2{
    padding-top:20px;
    padding-bottom:20px;
}

.join1{
    margin-left: 40px;
    text-align: left;
    padding-top: 40px;
}

.join2{
    padding-top: 20px;
    text-align: left;
    margin-right: 1000px;
}

.join4{
    padding-top:10px;
}

.batch1{
    margin-left: 40px;
    text-align: left;
    padding-top: 40px;
}

/* .batch2{
} */

.batch3{
    margin-top:40px;
}

.batch4{
    padding-top:20px;
}

.batch5{
    padding-top:20px;
}

.batch6{
    margin-right: 800px;
}